body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  background: #f0f8ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 70px;
  padding: 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .hbl-logo {
    height: 40px;
    width: auto;
  }
  .user-info-container {
    background: #e8f3ff;
    border-radius: 12px;
    width: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
    .user-img {
      border: 1.5px solid #da7c7c;
      height: 35px;
      width: 35px;
      border-radius: 50px;
      object-fit: cover;
    }
    .user-info {
      h2 {
        color: #1f1f1f;
        font-weight: 600;
        font-size: 13px;
      }
      p {
        color: #5e6e78;
        font-size: 11px;
        font-weight: 500;
      }
    }
    .more-icon {
      margin-left: auto;
    }
  }
}

.nav-items {
  background: #2d3aac;
  box-shadow: 0px 24px 34px 0px #15193d14;
  color: #fff;
  width: 50%;
  margin: 0px auto;
  border-radius: 0px 0px 50px 50px;
  padding: 0px 10px;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    justify-content: space-around;
    padding: 14px;

    li {
      font-size: 14px;
      cursor: pointer;
      font-weight: 500;
      .home-icon {
        width: auto;
        height: 12px;
      }
    }
  }
}

.report-dashboard {
  background: #fff;
  width: 95%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .title-cover {
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #000000;
      font-size: 24px;
    }
    .searchbar {
      border: 1.3px solid #c4cacd45;
      background: #f6f6f6;
      padding: 7px 10px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        background: transparent;
        border: none;
        outline: none;
      }
      .search-icon {
        width: 14px;
        height: auto;
      }
    }
  }
  .report-dashboard-container {
    padding: 15px 0px;

    .filter-containers {
      padding: 10px 15px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .selection-filters {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        width: 60%;
        .selection-div {
          display: grid;
          gap: 5px;
          width: 170px;
          label {
            color: #1b2124;
            font-size: 14px;
            font-weight: 400;
          }
          select {
            border: 1px solid #e8e8e8;
            background: #ffffff;
            padding: 7px;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
          }
          .custom-date-wrapper {
            display: flex;
            align-items: center;
            gap: 5px;
            border: 1px solid #e8e8e8;
            background: #ffffff;
            border-radius: 5px;
            padding: 7px;

            input {
              background: transparent;
              outline: none;
              border: none;
            }
            .calendar-icon {
              color: #4b57c1;
            }
          }
          .dates_selected {
            margin-top: 6px;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            color: #20313a;
            .clear_all {
              color: #4b57c1;
              margin-left: auto;
              background: none;
              border: none;
              font-weight: 500;
              font-family: "Rubik", sans-serif;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
      }
      .btn-filters {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        border-left: 3px solid #d9d9d9;
        width: 40%;
        .filter-btn {
          border: 0.92px solid #cacaca;
          color: #000000;
          border-radius: 8px;
          padding: 10px 12px;
          background: #fff;
          width: 130px;
          font-weight: 500;
          font-size: 14px;
          font-family: "Inter", sans-serif;
          cursor: pointer;
        }
        .active {
          background: #2d3aac;
          border: 0.92px solid #2d3aac;
          color: #fff;
        }
      }
    }
    .announcement {
      background: linear-gradient(
        87.54deg,
        rgba(255, 239, 239, 0.75) -5.96%,
        rgba(253, 238, 204, 0.75) 84.45%
      );
      margin: 15px;
      padding: 15px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      .megaphone-icon {
        width: 60px;
        height: auto;
      }
      .announcement-content {
        h2 {
          color: #20313a;
          font-weight: 700;
          font-size: 26px;
          margin-bottom: 5px;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          color: #221e1e;
        }
      }
    }
  }
}

.collection-report {
  background: #fff;
  width: 95%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .title-cover {
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #000000;
      font-size: 20px;
    }
  }
  .day-wise-filter {
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 15px 0px 15px;

    .day-btn {
      color: #5d4c4c;
      background: transparent;
      outline: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
      font-weight: 400;
      padding-bottom: 10px;
      &:hover {
        color: #2d3aac;
      }
    }
    .active {
      color: #2d3aac;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: 1px solid #2d3aac;
    }

    .calendar-icon {
      color: #000000;
      margin-left: auto;
      cursor: pointer;
    }
  }
  .all-cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    .report-card {
      padding: 10px;
      border-radius: 8px;
      width: 100%;

      p {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 5px;
        color: #20313a;
      }
      h2 {
        font-weight: 700;
        color: #000000;
        font-size: 17px;
        padding-top: 5px;
      }
    }
  }
}

.monthly-sales {
  background: #fff;
  width: 95%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    .title {
      color: #20313a;
      font-size: 20px;
      font-weight: 700;
    }
    .graph-date-range {
      background: #e1f4ff;
      color: #3c6da6;
      font-size: 12px;
      font-weight: 500;
      padding: 7px 10px;
      border-radius: 50px;
    }
    .calendar-icon {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .slider-container {
    /* width: 1060px; */
    width: 95%;
    margin: auto;
    position: relative;

    .slider {
      display: flex;
      gap: 15px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      padding-top: 10px;
      padding-bottom: 20px;

      .month-card {
        /* flex: 0 0 300px; */
        flex: 0 0 28.5%;
        scroll-snap-align: start;
        border-radius: 12px;
        padding: 20px;
        text-align: center;
        border: 1px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .bar-chart {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin-bottom: 10px;
          gap: 8px;

          .bar {
            width: 15px;
            border-radius: 5px;
            transition: height 0.3s ease;
          }
        }

        .month-name {
          font-weight: 600;
          background: #e6f1ff;
          color: #2d3aac;
          padding: 5px 10px;
          border-radius: 15px;
          display: inline-block;
          font-size: 14px;
          width: fit-content;
          margin: 0px auto;
        }
      }
    }

    .slider::-webkit-scrollbar {
      display: none;
    }
    .nav {
      border: none;
      background: #ededed;
      border-radius: 50%;
      padding: 8px 12px;
      cursor: pointer;
      font-size: 18px;
      position: relative;
      z-index: 10;
      .arrow-icon {
        color: #303030;
        font-size: 18px;
      }
    }
    .prev {
      position: absolute;
      bottom: 45%;
      left: 0px;
      transform: translate(-50%, 0px);
    }
    .next {
      position: absolute;
      bottom: 45%;
      right: -25px;
      transform: translate(-50%, 0px);
    }
  }
}

.sales-vs-target {
  background: #fff;
  width: 95%;
  margin: 20px auto;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    align-items: flex-end;
    gap: 30px;

    .title {
      color: #20313a;
      font-size: 20px;
      font-weight: 700;
    }
    .over-all-target {
      margin-left: auto;
      h3 {
        color: #303030;
      }
    }
    .over-all-sale {
      h3 {
        color: #a81b1b;
      }
    }
    .over-all-target,
    .over-all-sale {
      p {
        font-size: 13px;
        color: #525252;
      }
      h3 {
        font-weight: 800;

        font-size: 17px;
        margin-top: 3px;
      }
    }
  }
  .cards-container {
    margin: 15px 20px;
    background: #eff9ff;
    padding: 20px;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    .sales-vs-target-card {
      width: 220px;
      border: 2px solid #ffffff;
      padding: 15px;
      border-radius: 8px;

      h4 {
        font-weight: 700;
        font-size: 14px;
        color: #20313a;
      }
      .labels {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        span {
          color: #000000;
          font-size: 12px;
          font-weight: 400;
        }
      }
      .border-line {
        margin-top: 8px;
        border-radius: 5px;
        height: 6px;
        width: 100%;
      }
      .amts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        span:nth-child(1) {
          color: #525252;
          font-size: 14px;
          font-weight: 600;
        }
        span:nth-child(2) {
          color: #303030;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

.products {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  text-align: center;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #20313a;
      font-size: 22px;
    }
    .searchbar {
      border: 1.3px solid #c4cacd45;
      background: #f6f6f6;
      padding: 7px 10px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        background: transparent;
        border: none;
        outline: none;
      }
      .search-icon {
        width: 14px;
        height: auto;
      }
    }
  }
  .all-products {
    border-radius: 15px;
    margin: 10px 20px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    display: grid;
    gap: 20px;

    .single-product {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 5px 0px 15px 0px;
      border-bottom: 1px solid #d9d9d9;

      .rank {
        text-align: center;
        p {
          color: #9b9b9b;
          font-weight: 400;
          font-size: 12px;
        }
        h1 {
          color: #20313a;
          font-weight: 700;
          font-size: 34px;
        }
      }
      .product {
        width: 100%;
        .product-detail {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            color: #525252;
            font-size: 12px;
            font-weight: 400;
            display: flex;
          }
          .product-name {
            color: #303030;
            font-size: 18px;
            font-weight: 700;
          }
          .view-detail-btn {
            background: #587cec;
            color: #fff;
            padding: 7px 15px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            font-family: "Inter", sans-serif;
            font-size: 15px;
          }
        }
        .unit-revenue {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          gap: 30px;

          .unit,
          .revenue {
            border: 1px solid #dcdcdc;
            padding: 8px;
            width: 100%;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            p {
              color: #20313a;
              border-radius: 5px;
              padding: 7px 10px;
              font-size: 14px;
              font-weight: 600;
              white-space: nowrap;
            }
            .border-line {
              height: 10px;
              border-radius: 3px;
              width: 100%;
            }
            span {
              white-space: nowrap;
              color: #303030;
              font-size: 16px;
              font-weight: 700;
            }
          }

          .unit {
            p {
              background: #c8eaff;
            }

            .border-line {
              background: #2976a8;
            }
          }

          .revenue {
            p {
              background: #ffecd1;
            }

            .border-line {
              background: #ff9500;
            }
          }
        }
      }
    }
  }
  .view-more-products-btn {
    background: none;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    color: #535759;
    &:hover {
      color: #000000;
    }
    .down-icon {
      color: #000000;
      font-size: 14px;
    }
  }
}

.customers {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  text-align: center;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #20313a;
      font-size: 22px;
    }
    .searchbar {
      border: 1.3px solid #c4cacd45;
      background: #f6f6f6;
      padding: 7px 10px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        background: transparent;
        border: none;
        outline: none;
      }
      .search-icon {
        width: 14px;
        height: auto;
      }
    }
  }

  .all-customers {
    border-radius: 15px;
    margin: 10px 20px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    display: grid;
    gap: 20px;

    .single-customer {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 5px 0px 15px 0px;
      border-bottom: 1px solid #d9d9d9;

      .rank {
        text-align: center;
        p {
          color: #9b9b9b;
          font-weight: 400;
          font-size: 12px;
        }
        h1 {
          color: #20313a;
          font-weight: 700;
          font-size: 34px;
        }
      }
      .customer {
        width: 100%;
        .customer-detail {
          display: flex;
          align-items: center;
          span {
            color: #525252;
            font-size: 12px;
            font-weight: 400;
            display: flex;
          }
          .customer-name {
            color: #303030;
            font-size: 18px;
            font-weight: 700;
          }
          .most-buying-lists {
            display: flex;
            align-items: center;
            gap: 2px;
            margin-left: auto;
            border: 1px solid #dcdcdc;
            padding: 5px;
            border-radius: 5px;

            label {
              background: #c8eaff;
              font-weight: 700;
              color: #20313a;
              font-size: 14px;
              padding: 6px 9px;
              border-radius: 3px;
              margin-right: 7px;
            }

            span {
              color: #303030;
              font-weight: 600;
              font-size: 15px;
            }

            .view-detail-btn {
              background: #587cec;
              color: #fff;
              padding: 7px 15px;
              border-radius: 5px;
              outline: none;
              border: none;
              cursor: pointer;
              font-family: "Inter", sans-serif;
              font-size: 15px;
              margin-left: 15px;
            }
          }
        }
        .revenue-sales {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;
          gap: 20px;

          .sales,
          .revenue {
            border: 1px solid #dcdcdc;
            padding: 8px;
            width: 100%;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            p {
              color: #20313a;
              background: #ffecd1;
              border-radius: 5px;
              padding: 7px 10px;
              font-size: 14px;
              font-weight: 600;
              white-space: nowrap;
            }
            .border-line {
              height: 10px;
              border-radius: 3px;
              width: 100%;
              background: #ff9500;
            }
            span {
              white-space: nowrap;
              color: #303030;
              font-size: 16px;
              font-weight: 700;
            }
          }

          .revenue {
            width: 70%;
          }

          .sales {
            width: 30%;
            span {
              font-size: 18px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    color: #535759;
    font-size: 14px;

    .pages {
      display: flex;
      gap: 0px;
      align-items: center;
      span {
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
          color: #1b2124;
        }
      }
      .active-page {
        background: #587cec;
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
      .prev,
      .next {
        cursor: pointer;
        &:hover {
          color: #1b2124;
        }
      }
      .prev {
        margin-right: 15px;
      }
      .next {
        margin-left: 15px;
      }
    }
  }
}

.leads-tradewise {
  width: 95%;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  gap: 20px;

  .leads-graph-container {
    width: 70%;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 15px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding-left: 0px;
      border-bottom: 1px solid #d9d9d9;

      .lead-label {
        color: #5d4c4c;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px;
        cursor: pointer;

        &:hover {
          color: #413535;
        }
      }
      .active {
        color: #2d3aac;
        font-weight: 600;
        border-bottom: 2px solid #2d3aac;
        padding-bottom: 10px;

        &:hover {
          color: #2d3aac;
        }
      }
    }

    .chart-container {
      background: #eff9ff;
      padding: 20px 30px;
      border-radius: 0px 0px 15px 15px;

      .chart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;

        .date-range {
          background: #fff;
          color: #3c6da6;
          padding: 8px 14px;
          border-radius: 15px;
          font-size: 12px;
          font-weight: 600;
        }

        .view-list {
          color: #587cec;
          text-decoration: none;
          font-weight: 600;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 7px;
          cursor: pointer;

          &:hover {
            color: #2976a8;
          }
        }
      }
      .chart {
        padding: 0px 120px;
      }
    }
  }

  .tradewise-distribution {
    width: 30%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 15px 0px;

    .title {
      font-weight: 600;
      color: #00010b;
      font-size: 16px;
      border-bottom: 1px solid #d9d9d9;
      padding: 12px 15px;
    }
  }
}

.order-operational-status {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  text-align: center;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #20313a;
      font-size: 22px;
    }
    .searchbar {
      border: 1.3px solid #c4cacd45;
      background: #f6f6f6;
      padding: 7px 10px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        background: transparent;
        border: none;
        outline: none;
      }
      .search-icon {
        width: 14px;
        height: auto;
      }
    }
  }
  .all-orders {
    border-radius: 15px;
    margin: 10px 20px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    display: grid;
    gap: 20px;

    .single-order {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 5px 0px 15px 0px;
      border-bottom: 1px solid #d9d9d9;

      .open-orders {
        text-align: center;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        width: 110px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          color: #9b9b9b;
          font-weight: 400;
          font-size: 10px;
        }
        h1 {
          color: #20313a;
          font-weight: 700;
          font-size: 34px;
          margin-top: 4px;
        }
      }
      .order {
        width: 100%;
        span {
          color: #525252;
          font-size: 12px;
          font-weight: 400;
          display: flex;
        }
        .department-name {
          color: #303030;
          font-size: 22px;
          text-align: left;
          font-weight: 700;
          margin-top: 4px;
        }
        .days-count {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          width: 100%;
          margin-top: 10px;

          .lessThan25Days,
          .greaterThan25,
          .greaterThan45 {
            width: 100%;
            border: 1px solid #dcdcdc;
            padding: 8px 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            .days {
              padding: 8px 12px;
              border-radius: 5px;
              font-size: 14px;
              color: #20313a;
              font-weight: 600;
              white-space: nowrap;
            }
            .border-line {
              height: 14px;
              width: 100%;
              background: #eeeeee;
              border-radius: 5px;
              position: relative;
              div {
                position: absolute;
                height: 100%;
                border-radius: 5px;
              }
            }
            .count {
              font-weight: 700;
              color: #303030;
              font-size: 18px;
            }
          }

          .lessThan25Days {
            .days {
              background: #34c7591a;
            }
            .border-line {
              div {
                background: #34c759;
              }
            }
          }

          .greaterThan25 {
            .days {
              background: #ffcc001a;
            }
            .border-line {
              div {
                background: #ffcc00;
              }
            }
          }

          .greaterThan45 {
            .days {
              background: #ff3b301a;
            }
            .border-line {
              div {
                background: #ff3b30;
              }
            }
          }
        }
      }
    }
  }
}

.existing-vs-first-time {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  text-align: center;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #20313a;
      font-size: 22px;
    }
  }
  .all-existing-vs-first-time-customers {
    border-radius: 15px;
    margin: 10px 20px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    display: grid;
    gap: 20px;

    .single-department {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 5px 0px 15px 0px;
      border-bottom: 1px solid #d9d9d9;

      .total-orders {
        text-align: center;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        width: 110px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          color: #9b9b9b;
          font-weight: 400;
          font-size: 10px;
        }
        h1 {
          color: #20313a;
          font-weight: 700;
          font-size: 34px;
          margin-top: 4px;
        }
      }
      .order {
        width: 100%;
        span {
          color: #525252;
          font-size: 12px;
          font-weight: 400;
          display: flex;
        }
        .department-name {
          color: #303030;
          font-size: 22px;
          text-align: left;
          font-weight: 700;
          margin-top: 4px;
        }
        .customers-count {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          width: 100%;
          margin-top: 10px;

          .existingCustomers,
          .newCustomers,
          .newCustomersAdded {
            width: 100%;
            border: 1px solid #dcdcdc;
            padding: 8px 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            .days {
              padding: 8px 12px;
              border-radius: 5px;
              font-size: 14px;
              color: #20313a;
              font-weight: 600;
              white-space: nowrap;
            }
            .border-line {
              height: 14px;
              width: 100%;
              background: #eeeeee;
              border-radius: 5px;
              position: relative;
              div {
                position: absolute;
                height: 100%;
                border-radius: 5px;
              }
            }
            .count {
              font-weight: 700;
              color: #303030;
              font-size: 18px;
            }
          }

          .existingCustomers {
            .days {
              background: #34c7591a;
            }
            .border-line {
              div {
                background: #34c759;
              }
            }
          }

          .newCustomers {
            .days {
              background: #ffcc001a;
            }
            .border-line {
              div {
                background: #ffcc00;
              }
            }
          }

          .newCustomersAdded {
            .days {
              background: #ff3b301a;
            }
            .border-line {
              div {
                background: #ff3b30;
              }
            }
          }
        }
      }
    }
  }
}

.payment-projection {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  text-align: center;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #20313a;
      font-size: 22px;
    }
  }
  .list-of-months {
    border-radius: 15px;
    margin: 10px 20px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 30px;

    .month {
      display: flex;
      align-items: center;
      gap: 15px;

      .current-month {
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        width: 110px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          color: #9b9b9b;
          font-weight: 400;
          font-size: 10px;
        }
        h1 {
          color: #20313a;
          font-weight: 700;
          font-size: 32px;
          margin-top: 2px;
        }
      }
      .projection-detail {
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        padding: 10px 15px;
        width: 100%;
        display: grid;
        gap: 10px;

        .projected,
        .achieved {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;

          .type {
            color: #20313a;
            font-weight: 600;
            border-radius: 5px;
            font-size: 14px;
          }
          .border-line {
            height: 14px;
            width: 100%;
            background: #eeeeee;
            border-radius: 5px;
            position: relative;
            div {
              position: absolute;
              height: 100%;
              border-radius: 5px;
            }
          }
          .count {
            font-weight: 700;
            color: #303030;
            font-size: 18px;
            white-space: nowrap;
          }
        }

        .projected {
          .type {
            background: #34c7591a;
            padding: 5px 30px 5px 10px;
          }
          .border-line {
            div {
              background: #34c759;
            }
          }
        }
        .achieved {
          .type {
            background: #ffcc001a;
            padding: 5px 10px;
          }
          .border-line {
            div {
              background: #ffcc00;
            }
          }
        }
      }
    }
  }
}

.query-remark {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  text-align: center;
  .title-cover {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 700;
      color: #20313a;
      font-size: 22px;
    }
  }
  .queries-table {
    border-radius: 15px;
    margin: 10px 20px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    width: calc(100% - 40px);

    td,
    th {
      border-bottom: 1px solid #eeeeee;
      text-align: left;
      padding: 12px 8px;
      font-size: 14px;
    }

    tr:nth-last-child(1) {
      td {
        border: none;
      }
    }

    th {
      font-weight: 700;
      color: #717171;
    }

    tbody {
      color: #292d32;
      font-weight: 500;

      .sales-agent-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
  .query-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    color: #535759;
    font-size: 14px;

    .query-pages {
      display: flex;
      gap: 0px;
      align-items: center;
      span {
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
          color: #1b2124;
        }
      }
      .active-page {
        background: #587cec;
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
      .prev,
      .next {
        cursor: pointer;
        &:hover {
          color: #1b2124;
        }
      }
      .prev {
        margin-right: 15px;
      }
      .next {
        margin-left: 15px;
      }
    }
  }
}
